<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      #loading {
        display: flex;
        padding: 10px;
        margin: 100px;
      }
      .dot {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: rgb(49, 49, 181);
        margin-left: 40px;
        transition: all 0.3s ease-in-out;
      }
      /* .dot:hover {
        transform: translateY(-30px);
      } */
    </style>
  </head>
  <body>


    <div id="loading">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>


    <script type="text/javascript">
      document.addEventListener('DOMContentLoaded', function() {

        const dots = document.querySelectorAll('.dot');

        let currentDot = 0;

        dots[currentDot % dots.length].style.transform = "translateY(-30px)";
        setInterval(function() {
          dots[currentDot % dots.length].style.transform = "translateY(30px)";
          currentDot++;
          dots[currentDot % dots.length].style.transform = "translateY(-30px)";
        }, 400);

      });
    </script>
  </body>
</html>
